[submodule "Backend-repo"]
	path = Backend-repo
	url = https://github.com/Four-Dollar/Backend-repo.git
[submodule "Frontend-repo"]
	path = Frontend-repo
	url = https://github.com/Four-Dollar/Frontend-repo.git
