[submodule "Backend-repo"]
	path = Backend-repo
	url = https://github.com/Four-Dollar/Backend-repo.git
	branch = develop
[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/Four-Dollar/frontend-repo.git
	branch = develop
